.sidebar li:hover {
  background-color: #e0e0e0;
  border-radius: 10px;
}

.sidebar li .active {
  background-color: #e0e0e0;
}

.sidebar a {
  font-size: 1.1rem;
  font-weight: 500;
  width: 30ch;
  text-align: left;
  padding: 5px 16px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 30ch;
}

#sidebar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

#sidebar-button a {
  font-size: 1rem;
  font-weight: normal;

  width: max-content;
  padding: 0;
}
