li:hover {
  background-color: #e0e0e0;
  border-radius: 10px;
}

li .active {
  background-color: #e0e0e0;
}

a {
  font-size: 1.1rem;
  font-weight: 500;
  width: 30ch;
  text-align: left;
  padding: 5px 16px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  width: 30ch;
}
